<h1> Info </h1>


<p>For saving your locations you need to be logged in. All the locations are being saved automatically after adding them by clicking on the map. To see the saved locations you need to go under "My locations". </p>

<p>For each location the Country, City/County, Latitude and Longitude is shown. If the place is not recognized, a location will be saved as "Undefined" or "Place unknown". The coordinates will still be saved and a marker is shown on the map. There is an option by each location to add a comment.</p>

<p>It is possible to delete the locations either one by one under "My locations" or all at once under "My locations" or "Map". </p>