<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8" />
		<title>Mapping</title>
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYHMaZC7u0yKBzOhcIrpAdSPMsx1RY_BM&callback=initMap" async defer></script>
		<script src="script.js"></script>-->
		<link rel="stylesheet" type="text/css" href="style.css">

	</head>
	<body>
		
		<ul id="menu">
			<li> <a href="?"> Home </a></li>
			<li> <a href="?mode=map"> Map </a></li>
			<li class="dropdown" id="logging"> 
				<a href="?mode=login"> Log in </a>
				<div class="dropdown-content">
					<a href="?mode=register"> Register </a>
				</div>
			</li>
			<li class="dropdown"> 
				<a href="?mode=about"> About </a>
				<div class="dropdown-content">
					<a href="?mode=contact"> Contact </a>
				</div>
			</li>
		</ul>