<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8" />
		<title>Mapping</title>
		
		<script src="script.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">

	</head>
	<body>
		
		<ul id="menu">
			
			<li> <a href="?"> Home </a></li>
			<li> <a href="?mode=map"> Map </a></li>
			<li class="dropdown" id="logging"> 
				<a href="?mode=about"> About </a>
				<div class="dropdown-content">
					<a href="?mode=contact"> Contact </a>
				</div>
			</li>
			
			<?php
			if (isset($_SESSION['logged_in'])){
				echo '<li> <a href="?mode=locations"> My locations </a></li>';
				echo '<li id="logging"> <a href="?mode=logout"> Log out </a></li>';
			} else {
				echo '<li class="dropdown" id="logging"> ';
				echo '<a href="?mode=login"> Log in </a>';
				echo '<div class="dropdown-content">';
					echo '<a href="?mode=register"> Register </a></div></li>';
			}			
			?>
		</ul>

	<div id="username"> 
	<?php 
	if (isset($_COOKIE['username']) AND !empty($_COOKIE['username'])){
		echo "Logged in as <b>".$_COOKIE['username']."</b>.";
	}
	?> 
	</div>
	
	<div id="message"> 
	<?php 
	if (isset($_SESSION['notification'])){
		echo $_SESSION['notification']; 
		unset($_SESSION['notification']);
	} else if (isset($_COOKIE['notification'])) {
		echo $_COOKIE['notification'];
		setcookie('notification', '', time()-42000);
	}
	?> 
	</div>
	
	