<h1> Welcome! </h1>

<p>This page is created for people who want to keep track of their travelling — the places they have already been to and the places they want to visit in the future. </p>

<p>Some points should be kept in mind while using this site:
<ul>
	<li>This site keeps track of only countries and cities/counties, excluding the exact addresses.</li> 
	<li>It is not possible to save the locations which have been marked on the map if you do not have an account and are not logged in.</li> 
	<li>It is still, however, possible to mark the locations on the map without being logged in.  </li>
</ul>
</p>

<p>Instructions for using this site can be found under "Info".</p>