<h1> My locations </h1>

<?php 
$locations = get_locations();

echo '<table id="table"><tr>';
echo '<th>Country</th>';
echo '<th>City/County</th>';
echo '<th>Latitude</th>';
echo '<th>Longitude</th>';
echo '<th>Comment</th></tr>';


foreach($locations as $id=>$data) {
    echo '<tr><td>'.$data[0].'</td>';
	echo '<td>'.($data[1]).'</td>';
	echo '<td>'.DECtoDMS($data[2]).'</td>';
	echo '<td>'.DECtoDMS($data[3]).'</td>';
	echo '<td><textarea id="comment'.$data[5].'" rows="3" cols="30">'.$data[4].'</textarea></td>';
	echo '<td><button type="button" onclick="saveComment('.$data[5].')" name="save_button">Save <br> comment </button></form></td>';
	echo '<td><button type="button" onclick="deleteLocation('.$data[5].')" name="delete_button">Delete <br> location</button></td></tr>';
}
echo '</table>';
?>

<p>Total:  <?php echo sizeof($locations); 
	if (sizeof($locations) != 0) {
		echo '   <button type="button" onclick="deleteAllLocations()" name="delete_button">Delete all</button>';
	}
?>  </p>